// Header
header {
  @include flexbox(row, space-between, center);
  margin: 40px 100px;
  width: 100%;
  max-width: 1240px;
  img {
    width: auto;
    height: 68px;
  }
  nav {
    @include flexbox(row, space-around, center);
    width: 310px;
    height: 68px;
    a {
      font-size: $font-medium;
      color: $primary-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  @media screen and (max-width: 768px) {
    margin: 20px;
    img {
      height: 47px;
    }
    nav {
      max-width: 50%;
      height: 47px;
      a {
        text-transform: uppercase;
        font-size: $font-small;
      }
    }
  }
}

// Footer

footer {
  @include flexbox(column, center, center);
  background-color: $black;
  width: 100%;
  min-height: 209px;
  img {
    width: 100%;
    height: 40px;
  }
  p {
    color: $white;
  }
}

// Tag
.tag-container {
  @include flexbox(row, flex-start, center);
  gap: 10px;
}

.tag {
  background-color: $primary-color;
  color: $white;
  min-width: 115px;
  width: min-content;
  height: 25px;
  border-radius: 10px;
  @include flexbox;
}

// Home Container
.home-container {
  position: relative;
  @include flexbox;
  max-width: 1240px;
  width: 100%;
  height: 223px;
  padding: 30px 10px;
  border-radius: 10px;
  background: center center / cover no-repeat border-box;
  z-index: 1;
  h1 {
    font-weight: 400;
    font-size: $font-xlarge;
    color: $white;
    z-index: 2;
    margin: 0;
  }
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.3);
    border-radius: 10px;
  }
  @media screen and (max-width: 768px) {
    width: auto;
    max-height: 111px;
    padding: 0 16px;
    h1 {
      font-size: $font-large;
    }
  }
}

// location

.location {
  @include flexbox(row, flex-start, flex-end);
  position: relative;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 340px;
    height: 340px;
    background: $gradient-color;
    opacity: 0.3;
    border-radius: 10px;
    z-index: 2;
  }
  a {
    display: block;
    @include flexbox(row, flex-start, flex-end);
    width: 340px;
    height: 340px;
    z-index: 5;
    text-decoration: none;
    margin: 0;
    .title-location {
      font-size: $font-medium;
      color: $white;
      z-index: 3;
      margin: 20px;
    }
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: 335px;
    height: 255px;
    a {
      width: auto;
      max-width: 335px;
      height: 100%;
    }
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

// Container Home

.container {
  @include flexbox(row, center, center);
  flex-wrap: wrap;
  gap: 50px 60px;
  width: 100%;
  max-width: 1240px;
  margin: 40px 0;
  padding: 56px 0px;
  border-radius: 25px;
  background-color: $grey;
  @media screen and (max-width: 768px) {
    background-color: transparent;
    margin-top: 22px;
    gap: 20px;
    padding: 0;
  }
}

// container About

.container-about {
  background-color: $white;
  width: 80%;
  margin-top: 31px;
  padding: 0;
  ul {
    padding: 0;
    max-width: 1240px;
    width: 100%;
  }
  // Drowpdown

  .dropdown {
    position: relative;
    @include flexbox(column, space-evenly, center);
    gap: 20px;
    max-width: 1240px;
    width: 100%;
    list-style: none;
    margin: 15px 0;
    li {
      width: 100%;
      .dropDownList {
        position: relative;
        @include flexbox(column, center, flex-start);
        color: $white;
        background-color: $primary-color;
        min-width: 100%;
        min-height: 30px;
        border-radius: 5px;
        padding: 5.5px 11.5px;
        margin: 0;
        z-index: 2;
        &::before {
          position: absolute;
          top: 8px;
          right: 29px;
          transition: 0.3s ease-in-out;
        }
      }
      .dropDownText {
        position: relative;
        top: -11px;
        color: $primary-color;
        width: 100%;
        min-height: 154px;
        height: 100%;
        background-color: $grey;
        border-radius: 5px;
        padding: 27px 11.5px 0 11.5px;
        margin: 0;
        z-index: 1;
      }
    }

    .haut {
      &::before {
        content: url(../assets/fleche-haut.png);
      }
    }
    .bas {
      &::before {
        content: url(../assets/fleche-bas.png);
      }
    }
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.main-error {
  a {
    display: block;
    color: $primary-color;
    font-size: $font-medium;
    text-align: center;
    width: 100%;
    margin-top: 180px;
  }
  .container-error {
    @include flexbox(column-reverse, center, center);
    .title404 {
      text-align: center;
      color: $primary-color;
      font-size: 38px;
      font-weight: normal;
    }

    .error404 {
      color: $primary-color;
      font-size: 288px;
      font-weight: bold;
      margin: 0;
    }
  }
  @media screen and (max-width: 768px) {
    .container-error {
      .title404 {
        font-size: $font-medium;
      }

      .error404 {
        font-size: 99px;
        margin-top: 195px;
      }
    }
    a {
      font-size: $font-small;
    }
  }
}
